.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    max-width: 304px;
    height: 900px;
    margin: 20px auto;
}

.product-card:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.product-image img {
    width: 100%;
    height: auto;
}

.product-details {
    padding: 15px;
    text-align: center;
}

.product-title {
    font-size: 1.5em;
    margin: 10px 0;
}

.product-description {
    font-size: 1em;
    color: #666;
    margin: 10px 0;
}

.product-price {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

.add-to-cart-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
    background-color: #218838;
}