.catalog-container {
    margin-top: 20px;
    display: flex; /* Добавляем flex для горизонтального расположения */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.product-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    flex: 1;
}



.apply-filters:hover {
    background-color: #0056b3;
}