html{
    box-sizing: border-box;
    }
    *, *:after, *:before{
    box-sizing: inherit;
    }
    


.wrapper {
    max-width: 1380px;
    margin: 0 auto;
    
}
.threelements{
  display: flex;
  height: 414px;
  gap: 10px;
  
}

.firstelement{
    flex: 1;
 }
 .secondelement{
     flex: 3;
 }
 .thirdelement{
     flex: 1;
 }

 
